<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="app.css">
    <title>Document</title>
</head>
<body>
    <header class="navbar"> 
        <p class="logo">The <span class="coral">Full</span> Cart</p>
        <nav>
            <ul class="nav_links">
                <li><a href="/">Home</a></li>
                <li><a href="/trackOrder">Track Order</a></li> 
                <li><a href="/cancelOrder">CancelOrder</a></li>
                
            </ul>
        </nav>
        
    </header>
    <div class="form">
        <form method="POST" action="/cancel_order">
            <label>Enter Order Id </label>
            <input type="text" name="order_id"> <br><br>
            <label>Reason For cancellation</label>
            <input type="text" name="reason" >
            <button class="send-btn">submit</button>
        </form>
    </div>
</body>
</html>